[General]
domain_name = blah.com
aws_key_path = ~/.keys
pub_key_path = ~/keys
password_salt = omgSoSOOOOOsecret
script_path = ~/.clifford/scripts

[Images]
precise = ami-23d9a94a
raring = ami-10314d79
wheezy = ami-9e95e8f7

[Bundles]
dev = autoconf automake build-essential ntp
etc = apache2-utils htop python-pip sqlite3 unzip zip
img-libs = libfreetype6-dev libjpeg8-dev liblcms1-dev libpng12-dev zlib1g-dev
libs = libevent-dev libgmp-dev libjson0-dev libsqlite3-dev libssl-dev libxslt1-dev libyaml-dev python-dev
vcs = bzr git mercurial
memcached = memcached libmemcached-dev
mysql-client = mysql-client libmysqlclient-dev
php = php5-cli php5-cgi spawn-fcgi php5-mysql php5-pgsql
postgres = postgresql postgresql-client libpq-dev

[Python Bundles]
basic = virtualenv virtualenvwrapper

[Groups]
base = dev etc img-libs libs vcs
postgres-rabbit = &base postgres $rabbitmq-server $supervisor
rethink = &base @rethinkdb $rabbitmq-server

[Apt:MongoDB]
keyserver = 7F0CEB10
deb = http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen
package = mongodb-10gen

[Apt:RabbitMQ]
publickey = http://www.rabbitmq.com/rabbitmq-signing-key-public.asc
deb = http://www.rabbitmq.com/debian/ testing main
package = rabbitmq-server

[PPAs]
nodejs = chris-lea/node.js
redis-server = chris-lea/redis-server
rethinkdb = rethinkdb/ppa

[Build:basic]
size = t1.micro
image = raring
key = jserver
zone = NoPreference
security_groups = ssh-only

[Build:django]
size = m1.small
image = raring
key = jserver
zone = us-east-1b
security_groups = django-dev
upgrade = dist-upgrade
group = postgres-rabbit
easy_install = basic
script_name = build.sh

[Build:flask]
size = t1.micro
image = raring
key = jserver
zone = us-east-1b
security_groups = flask-dev,eighty-eighty-dev
upgrade = dist-upgrade
group = rethink
easy_install = basic
script_name = build.sh

[Project:django]
build = django
user_name = joe
user_fullname = Joseph Server
user_password = flypy23
script_name = ubuntu_dotfiles_go.sh

[Project:flask]
build = flask
user_name = joe
user_fullname = Joseph Server
user_password = flypy23
script_name = ubuntu_dotfiles_go.sh

[debconf:golang]
dashboard = golang-go golang-go/dashboard boolean false

[debconf:mysql-server]
root_password = mysql-server-5.5 mysql-server/root_password password sql23
root_password_again = mysql-server-5.5 mysql-server/root_password_again password sql23

