{
  "AwsKeyPath": "~/.keys",
  "PubKeyPath": "~/keys",
  "ScriptPath": "~/.clifford/scripts",
  "Domain": "blah.io",
  "Salt": "OmgSuperSecret",
  "Images": {
    "precise": {
      "Id": "ami-23d9a94a",
      "Login": "ubuntu",
      "Name": "ubuntu/images/ebs/ubuntu-precise-12.04-amd64-server-20130624"
    },
    "raring": {
      "Id": "ami-10314d79",
      "Login": "ubuntu",
      "Name": "ubuntu/images/ebs/ubuntu-raring-13.04-amd64-server-20130706"
    },
    "wheezy": {
      "Id": "ami-9e95e8f7",
      "Login": "admin",
      "Name": "debian-wheezy-amd64-20130704"
    }
  },
  "Bundles": {
    "dev": "autoconf automake bash-completion build-essential debconf-utils libtool ntp python",
    "etc": "apache2-utils curl htop python-pip sqlite3 tmux unzip vim-nox zip",
    "img-libs": "libfreetype6-dev libjpeg-dev liblcms-dev libpng-dev libtiff-dev libwebp-dev zlib1g-dev",
    "libs": "libevent-dev libgmp-dev libjson0-dev libsqlite3-dev libssl-dev libxslt-dev libyaml-dev libzmq-dev python-dev uuid-dev",
    "vcs": "bzr git mercurial",
    "postgres": "postgresql postgresql-client libpq-dev",
    "postgres-client": "postgresql-client libpq-dev"
  },
  "PythonBundles": {
    "base": "pyflakes virtualenv virtualenvwrapper yolk"
  },
  "Groups": {
    "base": [
      {
        "Type": "bundle",
        "Value": "dev"
      },
      {
        "Type": "bundle",
        "Value": "etc"
      },
      {
        "Type": "bundle",
        "Value": "img-libs"
      },
      {
        "Type": "bundle",
        "Value": "libs"
      },
      {
        "Type": "bundle",
        "Value": "vcs"
      }
    ],
    "django": [
      {
        "Type": "group",
        "Value": "base"
      },
      {
        "Type": "bundle",
        "Value": "postgres-client"
      }
    ],
    "postgres": [
      {
        "Type": "group",
        "Value": "base"
      },
      {
        "Type": "bundle",
        "Value": "postgres"
      }
    ],
    "rabbit": [
      {
        "Type": "group",
        "Value": "base"
      },
      {
        "Type": "bundle",
        "Value": "postgres-client"
      },
      {
        "Type": "packages",
        "Value": "rabbitmq-server"
      }
    ]
  },
  "Builds": {
    "micro": {
      "Size": "t1.micro",
      "Login": "admin",
      "Image": "ami-9e95e8f7",
      "Key": "key_name",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ],
      "Zone": "us-east-1b"
    },
    "small": {
      "Size": "m1.small",
      "Login": "admin",
      "Image": "ami-9e95e8f7",
      "Key": "key_name",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ],
      "Zone": "us-east-1b"
    },
    "django": {
      "Size": "m1.small",
      "Login": "admin",
      "Image": "ami-9e95e8f7",
      "Key": "jserver",
      "SecurityGroups": [
        "default",
        "django-dev"
      ],
      "Zone": "us-east-1b",
      "Suffix": "www",
      "Upgrade": "upgrade",
      "Group": "django",
      "Pip": "base",
      "Script": "install_go.sh"
    },
    "postgres": {
      "Size": "m1.small",
      "Login": "admin",
      "Image": "ami-9e95e8f7",
      "Key": "key_name",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ],
      "Zone": "us-east-1b",
      "Suffix": "db",
      "Upgrade": "upgrade",
      "Group": "postgres",
      "Pip": "base",
      "Script": "install_go.sh"
    },
    "rabbit": {
      "Size": "m1.small",
      "Login": "admin",
      "Image": "ami-9e95e8f7",
      "Key": "key_name",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ],
      "Zone": "us-east-1b",
      "Suffix": "mq",
      "Upgrade": "upgrade",
      "Group": "rabbit",
      "Pip": "base",
      "Script": "install_go.sh"
    }
  },
  "Projects": {
    "sample_project": {
      "Builds": [
        {
          "Build": "django",
          "Num": 2
        },
        {
          "Build": "postgres",
          "Num": 1
        },
        {
          "Build": "rabbit",
          "Num": 1
        }
      ]
    }
  }
}
