{
  "AwsKeyPath": "~/.keys",
  "PubKeyPath": "~/keys",
  "ScriptPath": "~/.clifford/scripts",
  "Images": {
    "trusty": {
      "Id": "ami-b027efd8",
      "Login": "ubuntu",
      "Name": "ubuntu/images/ebs-ssd/ubuntu-trusty-14.04-amd64-server-20140724",
      "Meta": {
        "Zone": "us-east-1",
        "Name": "trusty",
        "Version": "14.04 LTS",
        "Arch": "amd64",
        "InstanceType": "ebs-ssd"
      }
    },
    "trusty-m3": {
      "Id": "ami-8827efe0",
      "Login": "ubuntu",
      "Name": "ubuntu/images/hvm-ssd/ubuntu-trusty-14.04-amd64-server-20140724",
      "Meta": {
        "Zone": "us-east-1",
        "Name": "trusty",
        "Version": "14.04 LTS",
        "Arch": "amd64",
        "InstanceType": "hvm:ebs-ssd"
      }
    }
  },
  "Bundles": {
    "dev": "autoconf automake build-essential libtool ntp",
    "img-libs": "libfreetype6-dev libjpeg-dev liblcms2-dev libpng12-dev libtiff5-dev libwebp-dev zlib1g-dev",
    "libs": "libev-dev libevent-dev libgmp-dev libjson0-dev libsqlite3-dev libssl-dev libxslt1-dev libyaml-dev libzmq-dev python-dev uuid-dev",
    "etc": "apache2-utils figlet finger gnupg2 htop python-pip sqlite3 supervisor unzip vim-nox zip",
    "vcs": "bzr git-core mercurial",
    "memcached": "libmemcached-dev memcached",
    "postgres": "postgresql postgresql-client libpq-dev",
    "postgres-client": "postgresql-client libpq-dev"
  },
  "PythonBundles": {
    "base": "flake8 virtualenvwrapper"
  },
  "Groups": {
    "base": [
      {
        "Type": "bundle",
        "Value": "dev"
      },
      {
        "Type": "bundle",
        "Value": "img-libs"
      },
      {
        "Type": "bundle",
        "Value": "libs"
      },
      {
        "Type": "bundle",
        "Value": "etc"
      },
      {
        "Type": "bundle",
        "Value": "vcs"
      }
    ],
    "base-django": [
      {
        "Type": "group",
        "Value": "base"
      },
      {
        "Type": "bundle",
        "Value": "postgres-client"
      }
    ],
    "base-rabbit": [
      {
        "Type": "group",
        "Value": "base"
      },
      {
        "Type": "bundle",
        "Value": "postgres-client"
      },
      {
        "Type": "packages",
        "Value": "rabbitmq-server"
      }
    ]
  },
  "Builds": {
    "micro": {
      "Size": "t1.micro",
      "Image": "trusty",
      "Key": "jserver",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ],
      "Zone": "us-east-1a"
    },
    "small": {
      "Size": "m1.small",
      "Image": "trusty",
      "Key": "jserver",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ],
      "Zone": "us-east-1a"
    },
    "medium": {
      "Size": "m3.medium",
      "Image": "trusty-m3",
      "Key": "jserver",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ]
    },
    "createbase": {
      "Size": "m1.small",
      "Image": "trusty",
      "Key": "jserver",
      "SecurityGroups": [
        "default",
        "ssh-only"
      ],
      "Zone": "us-east-1a",
      "Upgrade": "dist-upgrade",
      "Group": "base",
      "Pip": "base",
      "Script": "server_init.sh"
    },
    "m3trusty": {
      "Size": "m3.medium",
      "Image": "trusty-m3",
      "Key": "jserver",
      "SecurityGroups": [
        "default",
        "django-dev",
        "prod-web"
      ],
      "Upgrade": "upgrade",
      "Group": "base",
      "Script": "post_launch.sh",
      "ScriptFormatArgs": "@name",
      "Adduser": {
        "User": "joe",
        "FullName": "Joseph Server",
        "CopyFiles": [
          {
            "From": "~/.secrets/.gitconfig",
            "To": "~/.gitconfig"
          },
          {
            "From": "~/.secrets/.bash_project",
            "To": "~/.bash_project"
          }
        ],
        "Script": "ubuntu_dotfiles.sh"
      }
    }
  },
  "Projects": {
    "django-site": {
      "Builds": [
        {
          "Build": "small-django",
          "Num": 2
        },
        {
          "Build": "micro-rabbit",
          "Num": 1
        }
      ]
    }
  }
}
